<div class="event primary">
  <%= render 'events/single_event', event: @primary_event %>
</div>

<div class="event favorites">
  <%= render 'events/thumbnail_list', events: @favorited_events %>
</div>
