<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Event health checkup</h1>
    <p>
      Some events were unhealthy. Either they no longer exist at the given URL, or their images failed to load (in which case they have defaulted to their venue's image).
    </p>

    <table>
      <tr>
        <td><strong>EVENT</strong></td>
        <td><strong>TYPE</strong></td>
        <td><strong>RESPONSE</strong></td>
      </tr>
    <% @errors.each do |event, error_type, error| %>
      <tr>
        <td><%= link_to event.name, admin_event_url(event) %></td>
        <td><%= error_type %></td>
        <td><%= error %></td>
      </tr>
    <% end %>
    </table>

  </body>
</html>
