<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Image updater</h1>
    <p>
      Some event images failed to load. They have been defaulted to their venue's image.
    </p>

    <table>
      <tr>
        <td><strong>EVENT ID</strong></td>
        <td><strong>RESPONSE</strong></td>
      </tr>
    <% @errors.each do |event, error| %>
      <tr>
        <td><%= link_to event.name, edit_admin_event_path(event) %></td>
        <td><%= error %></td>
      </tr>
    <% end %>
    </table>

  </body>
</html>
