<h1>Locations#index</h1>
<p>Find me in app/views/events/locations.html.erb</p>
<p>Id: <%= @location.id %></p>
<p>Name: <%= @location.name %></p>
<p>URL: <%= @location.url %></p>
<p>Description: <%= @location.description %></p>